# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myProject\write_read\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
